@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

body {
    background : black;
    color: white;
  }
  
  h1{
     
      font-family: 'Montserrat', sans-serif;
       color:white;
       font-size:40px;
       font-family: "Montserrat", "sans sherif";
       position :relative;
       animation-name:title;
       animation-fill-mode: forwards;
       animation-duration: 2s;

    }
  
    @keyframes title {
        0% {top:-50px;}
        100% {top:0}
    }
  header {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:0 5%;
    }

   

  .navbar {
      display:flex;
      
      align-items: center;
  }
  button{
      
      background: black;
       font-size: 30px;
       font-family: "Montserrat", "sans sherif";
       color: white;
       border: none;
       cursor: pointer;
       transition: all 0.3s ease 0s;
       }
       button:hover {
        text-decoration:underline ;
       }

p {
    font-size: 30px;
}
.challenge {
    display:flex;
    font-family: "Montserrat", "sans sherif";
    margin-top: 90px;
    padding:0 3%;
    text-align: justify;
    align-items: center;
    position: relative;
    animation-name: challenge;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    }

    @keyframes challenge {
    0% {left: -1000px;}
    100% {left:0;}
    }

#img {
    height:300px;
    width:500px;
    margin-right:35px;
}

.ascii {
    display:flex;
    font-family: "Montserrat", "sans sherif";
    margin-top: 110px;
    padding:0 3%;
    align-items: center;
    text-align:justify;
    position:relative;
    animation-name: ascii ;
    animation-fill-mode:forwards;
    animation-duration :2s;
}

#logo {
    height:300px;
    width:500px;
    margin-right:35px;
}


@keyframes ascii{
0% {right:-1000px;}
100% {right: 0;}
}